%ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

.advanced-sidebar-nav {
    * {
        box-sizing: border-box;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .advanced-sidebar-nav-toggle {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -12px;
        width: 25px;
        height: 25px;
        border-radius: 2px;
        z-index: 1;
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            position: absolute;
            transition: transform 0.25s ease-out;
        }

        &:before {
            top: 6px;
            left: 11px;
            width: 1px;
            height: 10px;
        }

        &:after {
            top: 11px;
            left: 6px;
            width: 10px;
            height: 1px;
        }

        &.advanced-sidebar-nav-toggle-open {
            cursor: pointer;

            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    // structure
    ul {
        @extend %ul;

        ul {
            @extend %ul;
            display: none;
        }

        li {
            position: relative;
            margin: 0 !important;
            padding: 0 !important;
            border: none;

            &:hover {
                transform: none !important;
            }

            &.current-menu-item,
            &.current-menu-ancestor {
                > a {
                    transform: none !important;
                }
            }

            &.current-menu-ancestor {
                > ul {
                    display: block;
                }
            }

            &:before,
            &:after {
                display: none;
            }
        }

        a {
            position: relative;
            display: block;
            font-size: 14px !important;
            font-weight: 400 !important;
            line-height: 1.4 !important;
            text-align: left;
            text-decoration: none !important;
            margin: 0 !important;
            padding: 15px 20px !important;
            outline: none;
            box-shadow: none;
            transition: all 100ms;

            &:hover,
            &.advanced-sidebar-nav-menu-open {
                transform: none !important;
            }
        }
    }

    // default
    &.advanced-sidebar-nav-default {
        .advanced-sidebar-nav-toggle {
            border: 1px solid rgba($color: #ffffff, $alpha: 0.8);

            &:before,
            &:after {
                background-color: rgba($color: #ffffff, $alpha: 0.8);
            }
        }

        ul {
            background-color: #dd4b39;

            ul {
                background-color: rgba($color: #000000, $alpha: 0.1);
            }

            li {
                &.current-menu-item,
                &.current-menu-ancestor {
                    > a {
                        color: #ffffff !important;
                        background-color: rgba(
                            $color: #000000,
                            $alpha: 0.1
                        ) !important;
                    }
                }
            }

            a {
                color: #ffffff !important;

                &:hover,
                &.advanced-sidebar-nav-menu-open {
                    color: #ffffff !important;
                    background-color: rgba(
                        $color: #000000,
                        $alpha: 0.1
                    ) !important;
                }
            }
        }
    }
}
